### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, Variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable

In [1]:
a = 100

In [2]:
## Declaring And Assigning Variables

age = 32
height = 6.1
name = "Tharun"
is_student = True

## Printing Variables
print("Age:", age)
print("Height:", height)
print("Name:", name)

Age: 32
Height: 6.1
Name: Tharun

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="KRish"
last_name="Naik"

In [4]:

# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

In [6]:
## case sensitivity
name="Krish"
Name="Naik"
name == Name

False

In [8]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [9]:
## Type Checking and Conversion

type(height)

float

In [10]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [11]:
age='25'
print(type(int(age)))

<class 'int'>

In [12]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [13]:
height=5.11
type(height)

float

In [14]:

float(int(height))

5.0

In [15]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [16]:
## input

age=int(input("What is the age"))
print(age,type(age))

21 <class 'int'>

In [17]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 48.0
Difference: -12.0
Product: 540.0
Quotient: 0.6